article {
  border-top: 4px solid #efefef;
  margin-bottom: 4em;
  line-height: 1.777rem;
  .title {
    margin-bottom: 1.2em;
  }
  h1 {
    display: inline-block;
    padding-top: 0.5em;
    margin-right: 0.5em;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .name {
    display: inline-block;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8em;
    a {
      text-decoration: none;
    }
  }
  .description {

  }
  .period {
    margin-top: 0.5em;
    display: inline-block;
  }
  .action {
    display: inline-block;
    margin-left: 2em;
  }
}
