article {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 4em;
  line-height: 1.777rem;
  .title, .skills, .description, .period  {
    margin-bottom: 0.8rem;
  }
  h2 {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .name {
    display: inline-block;
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 1.7rem;
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.7rem;
    }
  }
  .description {
    font-size: 0.9rem;
  }
  .skills, .period {
    color: #6e6e73;
    font-size: 0.8em;
  }
  .action {

    display: inline-block;
    margin-right: 1.3rem;
  }
}
