$base-color-striking: #fca311;

* {
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: #efefef !important;
}

a {
  text-decoration: none !important;
}

#experience, #education, #status, #contact {
  .content {
    background-color: #fff;
    padding: 3.5rem 2rem 2rem 2rem;
  }
  &.section {
    margin-bottom: 4rem;
  }
}

.content {
  i.far, i.fas {
    font-size: 4rem;
    position: absolute;
    margin-top: -6rem;
  }
}

#experience {
  &.section {
    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-bottom: 1.9rem;
    }
  }
  .content {
    font-weight: 500;
  }
}

#status, #contact, #education {
  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.2em;
  }
}


.form-group {
  margin-bottom: 1em;
}

#flash {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  .alert {
    margin-bottom: 0;
  }
}

.alert {
  font-weight: 400;
  &.alert-base {
  }
  &.alert-danger {
  }
  &.alert-warning {
  }
}

