$base-color-striking: #fca311;

* {
  font-weight: 400;
  font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

#contact, #experience, #education {
  &.section {
    margin-bottom: 4rem;
    h2 {
      text-transform: uppercase;
      font-size: 2.3rem;
      margin-bottom: 1.9rem;
    }
  }
}

.form-group {
  margin-bottom: 1em;
}

.status {
  display: inline-block;
  padding: 0.2em 3em;
  margin: 0 auto 2em auto;
  background-color: #ff9933;
  font-weight: 700;
  font-size: 1.4em;
  color: #fff;
}

#flash {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  .alert {
    margin-bottom: 0;
  }
}

.alert {
  font-weight: 400;
  &.alert-base {
  }
  &.alert-danger {
  }
  &.alert-warning {
  }
}

