header {
  margin-bottom: 4em;
  color: #fff;
  .navbar-brand {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 0;
    a {
      color: #fff;
      font-weight: 700;
      font-size: 2em;
      line-height: 2.2em;
    }
  }
  .address, .phone, .email {
    display: inline-block;
    margin-right: 1rem;
  }
}
