header {
  margin-top: 0;
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #161617;
  margin-bottom: 4em;
  color: #fff;
  .title {
    vertical-align: middle;
    margin-bottom: 0;
    a {
      text-align: center;
      color: #fff;
      font-weight: 500;
      font-size: 5rem;
      line-height: 1.2em;
    }
  }
  .bio-description {
    font-size: 1.5rem;
    line-height: 1.9em;
    font-weight: 400;
    margin-top: 0.5em;
  }
  .phone, .email {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1em;
  }
}
