%header
  %nav.navbar.navbar-dark.bg-dark.sticky-top
    .container
      %h1= Setting&.first&.name
      .address= Setting&.first&.address
      .phone= Setting&.first&.phone
      .email= Setting&.first&.email
