%header
  %nav.navbar.navbar-dark.bg-dark.sticky-top
    .container
      
      .navbar-brand= link_to Setting&.first&.name, root_path
      .address= Setting&.first&.address
      .phone= Setting&.first&.phone
      .email= Setting&.first&.email
