%header
  %nav.navbar.navbar-dark.bg-dark
    .container-fluid
      %h1.pt-2= Setting&.first&.name
      .address= Setting&.first&.address
      .phone= Setting&.first&.phone
      .email= Setting&.first&.email
